.cm-header-1 {
	color: #e2b179;
}
.cm-header-2 {
	color: #e2b179;
}
.cm-header-3 {
	color: #e2b179;
}
.cm-header-4 {
	color: #e2b179;
}
.cm-header-5 {
	color: #e2b179;
}
.cm-header-6 {
	color: #e2b179;
}

/* span.cm-strong {
	color: #e2b179;
} */
